environment = "integration"
aws_region  = "us-east-2"

# ECS Configuration - Fargate minimum for 512 CPU is 1024 memory
data_cpu    = 512
data_memory = 1024

# Scaling
data_desired_count = 1

# Worker Pool Sizes
loader_worker_pool_size  = 4
generic_worker_pool_size = 2

# Networking
assign_public_ip = false

# Application Configuration
log_level = "info"
host_url  = "https://<CLOUDFRONT_DISTRIBUTION_URL>"
