environment = "integration"
aws_region  = "us-east-2"

# CORS configuration for uploads from Plasmic Studio
allowed_origins = [
  "https://<CLOUDFRONT_DISTRIBUTION_URL>",
  "https://*.<INTERNAL_DOMAIN>",
  "https://*.plasmic.app",
  "http://localhost:3003"
]
